# do not change
version: '1.0.2'
# fast mode loading just a few months of data
debug: false
# files to read data tables:
# 'auto' or ['BiometFy4.csv', ...] or {'eddy_pro tv_fy4 2023.csv': InputFileType.EDDYPRO_FO, ...}
input_files: 'auto'
# eddypro_fo, eddypro_biomet, ias, csf:
# repair_time: check the date-time column for gaps and monotony, and try regeneration on errors
# missing_data_codes: will replace -9999 and/or other values to np.nan
eddypro_fo:
    repair_time: true
    missing_data_codes: [-9999]
    # name of the column in eddypro full output with time
    time_col: 'time'
    # guesses for the time format (leave only one entry like ['%H:%M:%S'] to set manually)
    try_time_formats: ['%H:%M', '%H:%M:%S']
    # name of the column in eddypro full output with date
    date_col: 'date'
    # guesses for the date format (leave only one entry like ['%H:%M:%S'] to set manually)
    try_date_formats: ['%d.%m.%Y', '%d/%m/%Y', '%Y-%m-%d']
eddypro_biomet:
    repair_time: true
    missing_data_codes: [-9999]
    # name of the column in the eddypro biomet with date
    datetime_col: 'TIMESTAMP_1'
    # guesses for the datetime format (leave only one entry like ['%H:%M:%S'] to set manually)
    try_datetime_formats: ['%Y-%m-%d %H%M', '%d.%m.%Y %H:%M']
ias:
    repair_time: true
    missing_data_codes: [-9999]
csf:
    repair_time: true
    missing_data_codes: [-9999, NAN]
    # name of the column in the csf with date
    datetime_col: 'TIMESTAMP'
    # guesses for the datetime format (leave only one entry like ['%H:%M:%S'] to set manually)
    try_datetime_formats: ['%Y-%m-%d %H:%M:%S', '%d.%m.%Y %H:%M']
# one of supported import modes
# 'AUTO' or one of: 'EDDYPRO_FO', 'EDDYPRO_FO_AND_BIOMET', 'IAS', 'CSF', 'CSF_AND_BIOMET'
import_mode: 'EDDYPRO_FO_AND_BIOMET'  # EDDYPRO_FO, EDDYPRO_FO_AND_BIOMET, IAS, CSF_AND_BIOMET, AUTO
# column name for datetime with will be used after import
time_col: 'datetime'
# enables processing steps which requires meteo columns
has_meteo: true
# station name, keep 'auto' to try to detect name from file name
site_name: 'auto'
# version suffix used only in the ias output filename, 'auto' will try to detect suffix from ias input file name
ias_out_version: 'auto'
# filter data by quality flag
qc:
    h: 1
    le: 1
    co2_flux: 1
    ch4_flux: 1
    nee: 1
filters:
    # data filtering based on meteo conditions
    meteo:
        CO2SS_min: 80.0
        p_rain_limit: 0.1
        rain_forward_flag: 2
        use_day_filter: true
        use_night_filter: true
        day_nee_max: 5
        night_nee_min: -5
        day_swin_limit: 10
        night_h_limits: [-50, 20]
        night_le_limits: [-50, 20]
        winter_nee_limits: [0, 5]
        winter_ch4_flux_limits: [-1, 1]
        CH4SS_min: 20.0
    # filter by minimum and maximum acceptable values
    min_max:
        co2_flux: [-40, 40]
        co2_strg: [-20, 20]
        h: [-100, 800]
        le: [-100, 1000]
        u_star: [0, 10]
        ta_1_1_1: [-50, 50]
        p_1_1_1: [0, 100]
        vpd_1_1_1: [0, 50]
        rh_1_1_1: [0, 100]
        swin_1_1_1: [0, 1200]
        ppfd_1_1_1: [0, 2400]
        rg_1_1_1: [0, 2400]
        ch4_flux: [-10, 10]
        nee: [-40, 40]
    # filter meteo variables by quality flag
    window:
        co2_flux: {sigmas: 2, window: 10, min_periods: 4}
        ch4_flux: {sigmas: 2, window: 10, min_periods: 4}
        ta_1_1_1: {sigmas: 4, window: 10, min_periods: 4}
        u_star: {sigmas: 4, window: 10, min_periods: 4}
        h: {sigmas: 7, window: 10, min_periods: 4}
        le: {sigmas: 7, window: 10, min_periods: 4}
        rh_1_1_1: {sigmas: 7, window: 10, min_periods: 4}
        vpd_1_1_1: {sigmas: 7, window: 10, min_periods: 4}
        swin_1_1_1: {sigmas: 8, window: 10, min_periods: 4}
        ppfd_1_1_1: {sigmas: 8, window: 10, min_periods: 4}
        nee: {sigmas: 2, window: 10, min_periods: 4}
    # filter by quantiles
    quantile:
        co2_flux: [0.01, 0.99]
        ch4_flux: [0.01, 0.99]
        co2_strg: [0.01, 0.99]
        nee: [0.01, 0.99]
    # MAD & Hampel outliers filtering
    madhampel:
        co2_flux: {z: 5.5, hampel_window: 10}
        ch4_flux: {z: 5.5, hampel_window: 10}
        le: {z: 5.5, hampel_window: 10}
        h: {z: 5.5, hampel_window: 10}
        co2_strg: {z: 5.5, hampel_window: 10}
        ta_1_1_1: {z: 5.5, hampel_window: 10}
        rh_1_1_1: {z: 5.5, hampel_window: 10}
        vpd_1_1_1: {z: 5.5, hampel_window: 10}
        swin_1_1_1: {z: 8.0, hampel_window: 10}
        ppfd_1_1_1: {z: 8.0, hampel_window: 10}
        nee: {z: 5.5, hampel_window: 10}
    # winter period filtering
    winter_date_ranges:
        - [01.01.2023 00:00, 26.03.2023 00:00]
        - [13.11.2023 00:00, 31.12.2023 00:00]
    man_ranges: []
# Decide whether to sum co2_flux and co2_strg_filtered_filled for obtaining NEE
calc_nee: true
calc_with_strg: false
reddyproc:
    # Enabling detection of the conditions of weak turbulence
    is_to_apply_u_star_filtering: true
    # substitute a custom threshold value in cases where the threshold cannot be calculated
    ustar_threshold_fallback: 0.01
    ustar_rg_source: 'Rg'  # Rg_th_Py, Rg_th_REP, Rg, ""
    is_bootstrap_u_star: false
    # Selection of the method of marking seasons
    u_star_seasoning: 'Continuous'  # WithinYear, Continuous, User
    # Filling gaps in 30-minute fluxes
    is_to_apply_partitioning: true
    # one or both methods of partitioning the CO2 flux into the gross primary production (GPP) and the ecosystem respiration (Reco)
    partitioning_methods: [Reichstein05, Lasslop10]  # Reichstein05, Lasslop10
    latitude: 56.5
    longitude: 32.6
    timezone: 3.0
    # set column name of air or soil temperature for gapfilling
    temperature_data_variable: 'Tair'
    # do not change (other options are only for information and completeness)
    site_id: 'tv_fy4'
    u_star_method: 'RTw'
    is_to_apply_gap_filling: true
    input_file: ''
    output_dir: 'output\reddyproc'
    log_fname_end: '_log.txt'
