# технические настройки (только для опытных пользователей)
version: '1.0.4'
# быстрый режим — загружается только несколько месяцев данных
debug: false
data_import:
    # файлы для чтения таблиц данных:
    # 'auto' или ['BiometFy4.csv', ...] или {'eddy_pro tv_fy4 2023.csv': InputFileType.EDDYPRO_FO, ...}
    input_files: 'auto'
    # eddypro_fo, eddypro_biomet, ias, csf:
    # repair_time: проверяет столбец даты-времени на пропуски и монотонность, при ошибках пытается восстановить
    # missing_data_codes: заменяет -9999 и/или другие значения на np.nan
    eddypro_fo:
        repair_time: true
        missing_data_codes: [-9999]
        # имя столбца с временем в полном выводе eddypro
        time_col: 'time'
        # предполагаемые форматы времени (оставьте только один, например ['%H:%M:%S'], чтобы задать вручную)
        try_time_formats: ['%H:%M', '%H:%M:%S']
        # имя столбца с датой в полном выводе eddypro
        date_col: 'date'
        # предполагаемые форматы даты (оставьте только один, например ['%H:%M:%S'], чтобы задать вручную)
        try_date_formats: ['%d.%m.%Y', '%d/%m/%Y', '%Y-%m-%d']
    eddypro_biomet:
        repair_time: true
        missing_data_codes: [-9999]
        # имя столбца с датой и временем в eddypro biomet
        datetime_col: 'TIMESTAMP_1'
        # предполагаемые форматы даты и времени (оставьте только один, например ['%H:%M:%S'], чтобы задать вручную)
        try_datetime_formats: ['%Y-%m-%d %H%M', '%d.%m.%Y %H:%M']
    ias:
        repair_time: true
        missing_data_codes: [-9999]
        datetime_col: 'TIMESTAMP_START'
        try_datetime_formats: '%Y%m%d%H%M'
        skip_validation: false
    csf:
        repair_time: true
        missing_data_codes: [-9999, NAN]
        # имя столбца с датой в csf
        datetime_col: 'TIMESTAMP'
        # предполагаемые форматы даты и времени (оставьте только один, например ['%H:%M:%S'], чтобы задать вручную)
        try_datetime_formats: ['%Y-%m-%d %H:%M:%S', '%d.%m.%Y %H:%M']
        empty_co2_strg: true
    # один из поддерживаемых режимов импорта
    import_mode: 'AUTO'  # EDDYPRO_FO, EDDYPRO_FO_AND_BIOMET, IAS, CSF, CSF_AND_BIOMET, AUTO
    # имя столбца даты-времени, используемое после импорта
    time_col: 'datetime'
data_export:
    # суффикс версии, используемый только в имени выходного файла ias; 'auto' пытается определить его из имени входного файла ias
    # split_intervals: 'YEAR'
    ias: {out_fname_ver_suffix: auto, split_intervals: YEAR}
metadata:
    # название станции, оставьте 'auto' для попытки определения из имени файла
    site_name: 'auto'
filters:
    # применяется к указанным столбцам: по порогу флага качества
    qc: {h: 1, le: 1, co2_flux: 1, ch4_flux: 1, nee: 1}
    # фильтрация данных по метеоусловиям
    meteo:
        # применяется к ["co2_flux", 'nee'] 
        CO2SS_min: 80.0
        # применяется к ["ch4_flux"] 
        # CH4SS_min: None
        # лимит осадков и флаг применяются к ["co2_flux", 'h', 'le', 'nee', "ch4_flux"]
        p_rain_limit: 0.1
        rain_forward_flag: 2
        # применяется к ['nee']
        use_day_filter: true
        # применяется к ["h", 'le', 'nee', 'co2_flux']
        use_night_filter: true
        # дополнительные фильтры для каждого столбца
        day_nee_max: 5
        night_nee_min: -5
        day_swin_limit: 10
        night_h_limits: [-50, 20]
        night_le_limits: [-50, 20]
        # применяется к ['nee', 'co2_flux']
        winter_nee_limits: [0, 5]
        # применяется к ['ch4_flux']
        winter_ch4_flux_limits: [-1, 1]
        CH4SS_min: 20.0
        # применяется к ["co2_flux", 'le', 'nee']
        # RH_max: 
    # фильтрация по минимальным и максимальным допустимым значениям
    min_max:
        co2_flux: [-40, 40]
        co2_strg: [-20, 20]
        h: [-100, 800]
        le: [-100, 1000]
        u_star: [0, 10]
        ta_1_1_1: [-50, 50]
        p_1_1_1: [0, 100]
        vpd_1_1_1: [0, 50]
        rh_1_1_1: [0, 100]
        swin_1_1_1: [0, 1200]
        ppfd_1_1_1: [0, 2400]
        rg_1_1_1: [0, 2400]
        ch4_flux: [-10, 10]
        nee: [-40, 40]
    # фильтрация метеопеременных по флагу качества
    window:
        co2_flux: {sigmas: 2, window: 10, min_periods: 4}
        ch4_flux: {sigmas: 2, window: 10, min_periods: 4}
        ta_1_1_1: {sigmas: 4, window: 10, min_periods: 4}
        u_star: {sigmas: 4, window: 10, min_periods: 4}
        h: {sigmas: 7, window: 10, min_periods: 4}
        le: {sigmas: 7, window: 10, min_periods: 4}
        rh_1_1_1: {sigmas: 7, window: 10, min_periods: 4}
        vpd_1_1_1: {sigmas: 7, window: 10, min_periods: 4}
        swin_1_1_1: {sigmas: 8, window: 10, min_periods: 4}
        ppfd_1_1_1: {sigmas: 8, window: 10, min_periods: 4}
        nee: {sigmas: 2, window: 10, min_periods: 4}
    # фильтрация по квантилям
    quantile:
        co2_flux: [0.01, 0.99]
        ch4_flux: [0.01, 0.99]
        co2_strg: [0.01, 0.99]
        nee: [0.01, 0.99]
    # фильтрация выбросов MAD и Hampel
    madhampel:
        co2_flux: {z: 5.5, hampel_window: 10}
        ch4_flux: {z: 5.5, hampel_window: 10}
        le: {z: 5.5, hampel_window: 10}
        h: {z: 5.5, hampel_window: 10}
        co2_strg: {z: 5.5, hampel_window: 10}
        ta_1_1_1: {z: 5.5, hampel_window: 10}
        rh_1_1_1: {z: 5.5, hampel_window: 10}
        vpd_1_1_1: {z: 5.5, hampel_window: 10}
        swin_1_1_1: {z: 8.0, hampel_window: 10}
        ppfd_1_1_1: {z: 8.0, hampel_window: 10}
        nee: {z: 5.5, hampel_window: 10}
    # фильтрация зимнего периода
    winter_date_ranges:
        - [01.01.2023 00:00, 26.03.2023 00:00]
        - [13.11.2023 00:00, 31.12.2023 00:00]
    man_ranges: []
calc:
    # включает шаги обработки, требующие метеопеременные
    has_meteo: true
    # определяет, нужно ли суммировать co2_flux и co2_strg_filtered_filled для расчета NEE
    calc_nee: true
    calc_with_strg: false
reddyproc:
    # включает определение условий слабой турбулентности
    is_to_apply_u_star_filtering: true
    # подставляет пользовательский порог, если порог не может быть рассчитан
    ustar_threshold_fallback: 0.01
    ustar_rg_source: 'Rg'  # Rg_th_Py, Rg_th_REP, Rg, ""
    is_bootstrap_u_star: false
    # выбор метода деления сезонов
    u_star_seasoning: 'Continuous'  # WithinYear, Continuous, User
    # заполнение пропусков в 30-минутных потоках
    is_to_apply_partitioning: true
    # один или оба метода разделения потока CO2 на валовую первичную продукцию (GPP) и дыхание экосистемы (Reco)
    partitioning_methods: [Reichstein05, Lasslop10]  # Reichstein05, Lasslop10
    latitude: 56.5
    longitude: 32.6
    timezone: 3.0
    # имя столбца температуры воздуха или почвы для заполнения пропусков
    temperature_data_variable: 'Tair'
    # не изменять (другие параметры только для информации и полноты)
    site_id: ''
    u_star_method: 'RTw'
    is_to_apply_gap_filling: true
    input_file: ''
    output_dir: 'output\reddyproc'
    log_fname_end: '_log.txt'
