# dev branch is only for the shared main logic, without fixtures

/test/reddyproc/test_averaging_fixtures/**
/test/reddyproc/test_process_fixtures/**
/misc/samples/**
/output/**
/.idea/**
/.github/**

.ipynb_checkpoints/
.Rhistory
.RData

.gitattributes
README.md
